/*comienzo de estilo*/

/*reseteo*/
*{
margin: 0;
padding: 0; 
}

/*mobile first*/
/*smartphone*/
@media (max-width: 480px){

    body {
    width: 100%;
    height: 100%;
    }
    
    /*tipografia*/
    @font-face {
        font-family: Yellowtail;
        src: url(Tipografía/Yellowtail/Yellowtail-Regular.ttf);
    }
    @font-face {
        font-family: FireSans;
        src: url(Tipografía/FiraSans/FiraSans-Medium.ttf);
    }
    .letraYellow {
    font-family: "Yellowtail";
    }
    nav, main, footer {
    font-family: "FireSans";
    }
    
    /*estilo letra*/
    .letraItalica {
    font-style: italic;
    }
    .letraNegrita {
    font-weight: bold;
    }
    .letraGrande {
        font-size: 400%;
    }
    .letraMediana {
        font-size: 120%;
    }
    .letraMediana2 {
        font-size: 130%;
    }
    .letraChica {
        font-size: 85%;
    }
    .letraChica2 {
        font-size: 95%;
    }
    
    /*estilo accordion*/
    .estiloAccordion {
        font-style: italic;
        font-size: 85%;
        color: silver;
        border: solid 1px gold;
    }
    
    /*color letra*/
    h1, h2, p {
    color: silver
    }
    .letraNegra {
    color: black;
    }
    .letraPlateada
    {
    color: silver;
    }
    
    /*alineacion*/
    .center {
    text-align: center;
    }
    .left {
    text-align: left;
    }
    .right {
    text-align: right;
    }
    
    /*subrayado*/
    .subrUno {
    text-decoration: none;
    color: black;
    border: solid 2px black;
    background-color: gold;
    }
    .subrDos {
    text-decoration: underline;
    color: silver;
    font-style: italic;
    }
    label {
    text-decoration: underline;
    }
    
    /*estilo bordes*/
    .bordeDorado {
    border: solid 2px gold;
    }
    .bordeDorado2 {
    border: solid 2px gold;
    }
    .bordeNegro {
    border: solid 2px black;
    }
    
    /*estilo fondo*/
    .fondoNegro {
    background-color: black;
    }
    .fondoDorado {
    background-color: gold;
    }
    .gradiente {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
    }
    .gradienteDos {
        background-color: #000000;
        background-image: linear-gradient(147deg, #000000 20%, #434343 84%);
    }
    .gradienteTres {
        background-color: #d2a813;
        background-image: linear-gradient(315deg, #d2a813 50%, #000000 99%);
    }
    
    /*estilo menu*/
    span:hover {
    opacity: 0.8;
    }

    /*estilo imagenes*/
    .transicion {
    width: 4s;
    height: 2s;
    }
    .transicion:hover {
    width: 50vh;
    text-align: center;
    }

    /*lista*/
    .listaUno {
    list-style-type: circle;
    }
    
    /*padding*/
    .paddingUno {
    padding-top: 12vh; 
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 12vh ;
    }
    .paddingDos {
    padding-top: 2vh;
    padding-bottom: 8px;
    padding-left: 1vw;
    padding-right: 1vw;
    }

/*margen*/
.margenUno {
    margin-top: 0vh; 
    margin-bottom: 1vh;
    margin-left: 0vw;
    margin-right: 1vw;
}
.margenDos {
    margin-top: 1.5vh; 
    margin-bottom: 1vh;
    margin-left: 0vw;
    margin-right: 1vw;
}
.margenTres {
    margin-left: 2vw;
}
.margenCuatro {
    margin-top: 1vh; 
    margin-bottom: 0vh;
    margin-left: 0vw;
    margin-right: 1vw;
}
.margenCinco {
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 0vw;
    margin-right: 1vw;
}


    /*flex*/
    .flexSection3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    }
    .flexWrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    }
    .flexNoWrap {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        }
    
    /*grid*/
    #gridIndex {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "head head"
        "nav  nav"
        "body body"
        "footer  footer";
    grid-template-rows: 30px 2fr 120px 20px;
    grid-template-columns: 100vw 100vw;
    }
    #gridIndex > head {
    grid-area: head;
    }
    #gridIndex > nav {
    grid-area: nav;
    }
    #gridIndex > body {
    grid-area: body;
    }
    #gridIndex > footer {
    grid-area: footer;
    }
    
    #gridPreguntas {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "head"
        "nav"
        "body"
        "footer";
    grid-template-rows: 30px 2fr 120px 20px;
    }
    #gridPreguntas > head {
    grid-area: head;
    }
    #gridPreguntas > nav {
    grid-area: nav;
    }
    #gridPreguntas > body {
    grid-area: body;
    }
    #gridPreguntas > footer {
    grid-area: footer;
}
}













/*tablet*/
@media (min-width: 481px) and
(max-width: 1023px){

body {
    width: 100%;
    height: 100%;
    }
    
    /*tipografia*/
    @font-face {
        font-family: Yellowtail;
        src: url(Tipografía/Yellowtail/Yellowtail-Regular.ttf);
    }
    @font-face {
        font-family: FireSans;
        src: url(Tipografía/FiraSans/FiraSans-Medium.ttf);
    }
    .letraYellow {
    font-family: "Yellowtail";
    }
    nav, main, footer {
    font-family: "FireSans";
    }
    
    /*estilo letra*/
    .letraItalica {
    font-style: italic;
    }
    .letraNegrita {
    font-weight: bold;
    }
    .letraGrande {
        font-size: 400%;
    }
    .letraMediana {
        font-size: 120%;
    }
    .letraMediana2 {
        font-size: 130%;
    }
    .letraChica {
        font-size: 85%;
    }
    .letraChica2 {
        font-size: 95%;
    }
    
    /*estilo accordion*/
    .estiloAccordion {
        font-style: italic;
        font-size: 85%;
        color: silver;
        border: solid 1px gold;
    }
    
    /*color letra*/
    h1, h2, p {
    color: silver
    }
    .letraNegra {
    color: black;
    }
    .letraPlateada
    {
    color: silver;
    }
    
    /*alineacion*/
    .center {
    text-align: center;
    }
    .left {
    text-align: left;
    }
    .right {
    text-align: right;
    }
    
    /*subrayado*/
    .subrUno {
    text-decoration: none;
    color: black;
    border: solid 2px black;
    background-color: gold;
    }
    .subrDos {
    text-decoration: underline;
    color: silver;
    font-style: italic;
    }
    label {
    text-decoration: underline;
    }
    
    /*estilo bordes*/
    .bordeDorado {
    border: solid 2px gold;
    }
    .bordeDorado2 {
    border: solid 2px gold;
    }
    .bordeNegro {
    border: solid 2px black;
    }
    
    /*estilo fondo*/
    .fondoNegro {
    background-color: black;
    }
    .fondoDorado {
    background-color: gold;
    }
    .gradiente {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
    }
    .gradienteDos {
        background-color: #000000;
        background-image: linear-gradient(147deg, #000000 20%, #434343 84%);
    }
    .gradienteTres {
        background-color: #d2a813;
        background-image: linear-gradient(315deg, #d2a813 50%, #000000 99%);
    }
    
    /*estilo menu*/
    span:hover {
    opacity: 0.8;
    }

    /*estilo imagenes*/
    .transicion {
    width: 4s;
    height: 2s;
    }
    .transicion:hover {
    width: 50vh;
    text-align: center;
    }
    
    /*lista*/
    .listaUno {
    list-style-type: circle;
    }
    
    /*padding*/
    .paddingUno {
    padding-top: 12vh; 
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 12vh ;
    }
    .paddingDos {
    padding-top: 2vh;
    padding-bottom: 8px;
    padding-left: 1vw;
    padding-right: 1vw;
    }
    
/*margen*/
.margenUno {
    margin-top: 0vh; 
    margin-bottom: 1vh;
    margin-left: 0vw;
    margin-right: 1vw;
}
.margenDos {
    margin-top: 1.5vh; 
    margin-bottom: 1vh;
    margin-left: 0vw;
    margin-right: 1vw;
}
.margenTres {
    margin-left: 2vw;
}
.margenCuatro {
    margin-top: 1vh; 
    margin-bottom: 0vh;
    margin-left: 0vw;
    margin-right: 1vw;
}
.margenCinco {
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 0vw;
    margin-right: 1vw;
}

    li {
    width: 50%;
    }
    /*flex*/
    .flexSection {
    display: flex;
    }
    .flexSection3 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        }
    .flexWrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    }
    .flexNoWrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    }
    
    /*grid*/
    #gridIndex {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "head head"
        "nav  nav"
        "body body"
        "footer  footer";
    grid-template-rows: 30px 2fr 120px 20px;
    grid-template-columns: 100vw 100vw;
    }
    #gridIndex > head {
    grid-area: head;
    }
    #gridIndex > nav {
    grid-area: nav;
    }
    #gridIndex > body {
    grid-area: body;
    }
    #gridIndex > footer {
    grid-area: footer;
    }
    
    #gridPreguntas {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "head"
        "nav"
        "body"
        "footer";
    grid-template-rows: 30px 2fr 120px 20px;
    }
    #gridPreguntas > head {
    grid-area: head;
    }
    #gridPreguntas > nav {
    grid-area: nav;
    }
    #gridPreguntas > body {
    grid-area: body;
    }
    #gridPreguntas > footer {
    grid-area: footer;
}
}

















/*desktop*/
@media (min-width: 1024px){

body {
width: 100%;
height: 100%;
}

/*tipografia*/
@font-face {
    font-family: Yellowtail;
    src: url(Tipografía/Yellowtail/Yellowtail-Regular.ttf);
}
@font-face {
    font-family: FireSans;
    src: url(Tipografía/FiraSans/FiraSans-Medium.ttf);
}
.letraYellow {
font-family: "Yellowtail";
}
nav, main, footer {
font-family: "FireSans";
}

/*estilo letra*/
.letraItalica {
font-style: italic;
}
.letraNegrita {
font-weight: bold;
}
.letraGrande {
    font-size: 400%;
}
.letraMediana {
    font-size: 120%;
}
.letraMediana2 {
    font-size: 130%;
}
.letraChica {
font-size: 80%;
}
.letraChica2 {
font-size: 99%;
}

/*estilo accordion*/
.estiloAccordion {
font-style: italic;
font-size: 85%;
color: silver;
border: solid 1px gold;
}


/*color letra*/
h1, h2, p {
color: silver
}
.letraNegra {
color: black;
}
.letraPlateada
{
color: silver;
}

/*alineacion*/
.center {
text-align: center;
}
.left {
text-align: left;
}
.right {
text-align: right;
}

/*subrayado*/
.subrUno {
text-decoration: none;
color: black;
border: solid 2px black;
background-color: gold;
}
.subrDos {
text-decoration: underline;
color: silver;
font-style: italic;
}
label {
text-decoration: underline;
}

/*estilo bordes*/
.bordeDorado {
border: solid 2px gold;
}
.bordeNegro {
border: solid 2px black;
}

/*estilo fondo*/
.fondoNegro {
background-color: black;
}
.fondoDorado {
background-color: gold;
}
.gradiente {
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}
.gradienteDos {
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 20%, #434343 84%);
}
.gradienteTres {
    background-color: #d2a813;
    background-image: linear-gradient(315deg, #d2a813 50%, #000000 99%);
}
.fondoGris {
background: #2d3436;
}

/*estilo menu*/
span:hover {
opacity: 0.8;
}

/*estilo imagenes*/
.transicion {
width: 4s;
height: 2s;
}
.transicion:hover {
width: 50vh;
text-align: center;
}

/*lista*/
.listaUno {
list-style-type: circle;
}

/*padding*/
.paddingUno {
padding-top: 12vh; 
padding-right: 10px;
padding-left: 10px;
padding-bottom: 12vh ;
}
.paddingDos {
padding-top: 2vh;
padding-bottom: 8px;
padding-left: 1vw;
padding-right: 1vw;
}

/*margen*/
.margenUno {
    margin-top: 0vh; 
    margin-bottom: 1vh;
    margin-left: 0vw;
    margin-right: 1vw;
}
.margenDos {
    margin-top: 1.5vh; 
    margin-bottom: 1vh;
    margin-left: 0vw;
    margin-right: 1vw;
}
.margenTres {
    margin-left: 2vw;
}
.margenCuatro {
    margin-top: 1vh; 
    margin-bottom: 0vh;
    margin-left: 0vw;
    margin-right: 1vw;
}
.margenCinco {
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 0vw;
    margin-right: 1vw;
}
.margenSeis {
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;
}


/*flex*/
.flexSection {
display: flex;
}
.flexSection3 {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
}
.flexWrap {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-between;
}
.flexNoWrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    }

/*grid*/
#gridIndex {
display: grid;
width: 100%;
height: 100%;
grid-template-areas: "head head"
    "nav  nav"
    "body body"
    "footer  footer";
grid-template-rows: 30px 2fr 120px 20px;
grid-template-columns: 100vw 100vw;
}
#gridIndex > head {
grid-area: head;
}
#gridIndex > nav {
grid-area: nav;
}
#gridIndex > body {
grid-area: body;
}
#gridIndex > footer {
grid-area: footer;
}

#gridPreguntas {
display: grid;
width: 100%;
height: 100%;
grid-template-areas: "head"
    "nav"
    "body"
    "footer";
grid-template-rows: 30px 2fr 120px 20px;
}
#gridPreguntas > head {
grid-area: head;
}
#gridPreguntas > nav {
grid-area: nav;
}
#gridPreguntas > body {
grid-area: body;
}
#gridPreguntas > footer {
grid-area: footer;
}
}

/*animaciones*/
.navAnimado {
animation-name: navegador;
animation-duration: 5s;
}
.textoAnimado {
animation-name: texto;
animation-duration: 3s;
}

/*linea de tiempo*/
@keyframes navegador {
from  {
transform: translateX(400px);
}
to {
transform: translateX(0);
}
}
@keyframes texto {
from {
transform:translateX(-200px);
}
to {
transform:translateX(0);
}
}
